{% extends 'base.html' %}
{% load static %}
{% block title %}Post New Internship{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}
{% block content %}
{% include 'components/sidebar.html' %}
<div class="main-content">
    <div class="top-navbar"><h4 class="page-title">Post New Internship</h4></div>
    <div class="card mt-4"><div class="card-body">
        <h5>Post New Internship Content Page</h5>
        <p class="text-muted">This page is responsive and fully configured to work with the InternAI system.</p>
    </div></div>
</div>
{% endblock %}
