-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: internai_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `accounts_companyprofile`
--

DROP TABLE IF EXISTS `accounts_companyprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `accounts_companyprofile` (
  `user_id` bigint(20) NOT NULL,
  `company_name` varchar(255) NOT NULL,
  `logo` varchar(100) DEFAULT NULL,
  `industry` varchar(50) NOT NULL,
  `company_size` varchar(20) NOT NULL,
  `description` longtext NOT NULL,
  `website` varchar(200) NOT NULL,
  `address` longtext NOT NULL,
  `city` varchar(100) NOT NULL,
  `country` varchar(100) NOT NULL,
  `contact_person` varchar(255) NOT NULL,
  `contact_email` varchar(254) NOT NULL,
  `contact_phone` varchar(20) NOT NULL,
  `is_verified` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`user_id`),
  CONSTRAINT `accounts_companyprof_user_id_bbd7ca61_fk_accounts_` FOREIGN KEY (`user_id`) REFERENCES `accounts_customuser` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_companyprofile`
--

LOCK TABLES `accounts_companyprofile` WRITE;
/*!40000 ALTER TABLE `accounts_companyprofile` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_companyprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_customuser`
--

DROP TABLE IF EXISTS `accounts_customuser`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `accounts_customuser` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  `email` varchar(254) NOT NULL,
  `role` varchar(20) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `avatar` varchar(100) DEFAULT NULL,
  `updated_at` datetime(6) NOT NULL,
  `is_email_verified` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_customuser`
--

LOCK TABLES `accounts_customuser` WRITE;
/*!40000 ALTER TABLE `accounts_customuser` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_customuser` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_customuser_groups`
--

DROP TABLE IF EXISTS `accounts_customuser_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `accounts_customuser_groups` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `customuser_id` bigint(20) NOT NULL,
  `group_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `accounts_customuser_groups_customuser_id_group_id_c074bdcb_uniq` (`customuser_id`,`group_id`),
  KEY `accounts_customuser_groups_group_id_86ba5f9e_fk_auth_group_id` (`group_id`),
  CONSTRAINT `accounts_customuser__customuser_id_bc55088e_fk_accounts_` FOREIGN KEY (`customuser_id`) REFERENCES `accounts_customuser` (`id`),
  CONSTRAINT `accounts_customuser_groups_group_id_86ba5f9e_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_customuser_groups`
--

LOCK TABLES `accounts_customuser_groups` WRITE;
/*!40000 ALTER TABLE `accounts_customuser_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_customuser_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_customuser_user_permissions`
--

DROP TABLE IF EXISTS `accounts_customuser_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `accounts_customuser_user_permissions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `customuser_id` bigint(20) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `accounts_customuser_user_customuser_id_permission_9632a709_uniq` (`customuser_id`,`permission_id`),
  KEY `accounts_customuser__permission_id_aea3d0e5_fk_auth_perm` (`permission_id`),
  CONSTRAINT `accounts_customuser__customuser_id_0deaefae_fk_accounts_` FOREIGN KEY (`customuser_id`) REFERENCES `accounts_customuser` (`id`),
  CONSTRAINT `accounts_customuser__permission_id_aea3d0e5_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_customuser_user_permissions`
--

LOCK TABLES `accounts_customuser_user_permissions` WRITE;
/*!40000 ALTER TABLE `accounts_customuser_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_customuser_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_studentprofile`
--

DROP TABLE IF EXISTS `accounts_studentprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `accounts_studentprofile` (
  `user_id` bigint(20) NOT NULL,
  `date_of_birth` date DEFAULT NULL,
  `gender` varchar(20) NOT NULL,
  `address` longtext NOT NULL,
  `city` varchar(100) NOT NULL,
  `country` varchar(100) NOT NULL,
  `university` varchar(255) NOT NULL,
  `department` varchar(255) NOT NULL,
  `student_id` varchar(50) NOT NULL,
  `education_level` varchar(20) NOT NULL,
  `current_semester` varchar(20) NOT NULL,
  `gpa` decimal(4,2) DEFAULT NULL,
  `expected_graduation` date DEFAULT NULL,
  `skills` longtext NOT NULL,
  `experience` longtext NOT NULL,
  `languages` varchar(255) NOT NULL,
  `linkedin_url` varchar(200) NOT NULL,
  `github_url` varchar(200) NOT NULL,
  `portfolio_url` varchar(200) NOT NULL,
  `bio` longtext NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`user_id`),
  CONSTRAINT `accounts_studentprof_user_id_04a48d2e_fk_accounts_` FOREIGN KEY (`user_id`) REFERENCES `accounts_customuser` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_studentprofile`
--

LOCK TABLES `accounts_studentprofile` WRITE;
/*!40000 ALTER TABLE `accounts_studentprofile` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_studentprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_supervisorprofile`
--

DROP TABLE IF EXISTS `accounts_supervisorprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `accounts_supervisorprofile` (
  `user_id` bigint(20) NOT NULL,
  `university` varchar(255) NOT NULL,
  `department` varchar(255) NOT NULL,
  `designation` varchar(50) NOT NULL,
  `employee_id` varchar(50) NOT NULL,
  `expertise` longtext NOT NULL,
  `max_students` int(10) unsigned NOT NULL CHECK (`max_students` >= 0),
  `bio` longtext NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`user_id`),
  CONSTRAINT `accounts_supervisorp_user_id_40a9b879_fk_accounts_` FOREIGN KEY (`user_id`) REFERENCES `accounts_customuser` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_supervisorprofile`
--

LOCK TABLES `accounts_supervisorprofile` WRITE;
/*!40000 ALTER TABLE `accounts_supervisorprofile` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_supervisorprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `applications_application`
--

DROP TABLE IF EXISTS `applications_application`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `applications_application` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `cover_letter` longtext NOT NULL,
  `resume` varchar(100) DEFAULT NULL,
  `status` varchar(20) NOT NULL,
  `company_notes` longtext NOT NULL,
  `rejection_reason` longtext NOT NULL,
  `ai_match_score` int(10) unsigned DEFAULT NULL CHECK (`ai_match_score` >= 0),
  `applied_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `internship_id` bigint(20) NOT NULL,
  `student_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `applications_application_student_id_internship_id_41443c72_uniq` (`student_id`,`internship_id`),
  KEY `applications_applica_internship_id_66f107d5_fk_internshi` (`internship_id`),
  CONSTRAINT `applications_applica_internship_id_66f107d5_fk_internshi` FOREIGN KEY (`internship_id`) REFERENCES `internships_internship` (`id`),
  CONSTRAINT `applications_applica_student_id_0d954db1_fk_accounts_` FOREIGN KEY (`student_id`) REFERENCES `accounts_studentprofile` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `applications_application`
--

LOCK TABLES `applications_application` WRITE;
/*!40000 ALTER TABLE `applications_application` DISABLE KEYS */;
/*!40000 ALTER TABLE `applications_application` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auth_group` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `group_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auth_permission` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int(11) NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=73 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `django_admin_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext DEFAULT NULL,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint(5) unsigned NOT NULL CHECK (`action_flag` >= 0),
  `change_message` longtext NOT NULL,
  `content_type_id` int(11) DEFAULT NULL,
  `user_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_accounts_customuser_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_accounts_customuser_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_customuser` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `django_content_type` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
INSERT INTO `django_content_type` VALUES (7,'accounts','companyprofile'),(6,'accounts','customuser'),(8,'accounts','studentprofile'),(9,'accounts','supervisorprofile'),(1,'admin','logentry'),(12,'applications','application'),(3,'auth','group'),(2,'auth','permission'),(4,'contenttypes','contenttype'),(18,'documents','activitylog'),(17,'documents','document'),(11,'internships','internship'),(10,'internships','internshipcategory'),(13,'interviews','interview'),(16,'notifications','notification'),(14,'reports','evaluation'),(15,'reports','weeklyreport'),(5,'sessions','session');
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `django_migrations` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documents_activitylog`
--

DROP TABLE IF EXISTS `documents_activitylog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `documents_activitylog` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `action` varchar(30) NOT NULL,
  `description` longtext NOT NULL,
  `ip_address` char(39) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `user_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `documents_activitylog_user_id_b11092c1_fk_accounts_customuser_id` (`user_id`),
  CONSTRAINT `documents_activitylog_user_id_b11092c1_fk_accounts_customuser_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_customuser` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documents_activitylog`
--

LOCK TABLES `documents_activitylog` WRITE;
/*!40000 ALTER TABLE `documents_activitylog` DISABLE KEYS */;
/*!40000 ALTER TABLE `documents_activitylog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documents_document`
--

DROP TABLE IF EXISTS `documents_document`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `documents_document` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `description` longtext NOT NULL,
  `file` varchar(100) NOT NULL,
  `doc_type` varchar(20) NOT NULL,
  `file_size` int(10) unsigned NOT NULL CHECK (`file_size` >= 0),
  `uploaded_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `user_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `documents_document_user_id_e543d099_fk_accounts_customuser_id` (`user_id`),
  CONSTRAINT `documents_document_user_id_e543d099_fk_accounts_customuser_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_customuser` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documents_document`
--

LOCK TABLES `documents_document` WRITE;
/*!40000 ALTER TABLE `documents_document` DISABLE KEYS */;
/*!40000 ALTER TABLE `documents_document` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `internships_internship`
--

DROP TABLE IF EXISTS `internships_internship`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `internships_internship` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `description` longtext NOT NULL,
  `requirements` longtext NOT NULL,
  `skills_required` longtext NOT NULL,
  `internship_type` varchar(20) NOT NULL,
  `location` varchar(255) NOT NULL,
  `duration` varchar(100) NOT NULL,
  `stipend` decimal(10,2) DEFAULT NULL,
  `positions` int(10) unsigned NOT NULL CHECK (`positions` >= 0),
  `status` varchar(20) NOT NULL,
  `deadline` date NOT NULL,
  `start_date` date DEFAULT NULL,
  `is_approved` tinyint(1) NOT NULL,
  `is_featured` tinyint(1) NOT NULL,
  `views_count` int(10) unsigned NOT NULL CHECK (`views_count` >= 0),
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `category_id` bigint(20) DEFAULT NULL,
  `company_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `internships_internsh_category_id_f8b7bd0c_fk_internshi` (`category_id`),
  KEY `internships_internsh_company_id_c98826f3_fk_accounts_` (`company_id`),
  CONSTRAINT `internships_internsh_category_id_f8b7bd0c_fk_internshi` FOREIGN KEY (`category_id`) REFERENCES `internships_internshipcategory` (`id`),
  CONSTRAINT `internships_internsh_company_id_c98826f3_fk_accounts_` FOREIGN KEY (`company_id`) REFERENCES `accounts_companyprofile` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `internships_internship`
--

LOCK TABLES `internships_internship` WRITE;
/*!40000 ALTER TABLE `internships_internship` DISABLE KEYS */;
/*!40000 ALTER TABLE `internships_internship` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `internships_internshipcategory`
--

DROP TABLE IF EXISTS `internships_internshipcategory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `internships_internshipcategory` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `description` longtext NOT NULL,
  `icon` varchar(50) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `internships_internshipcategory`
--

LOCK TABLES `internships_internshipcategory` WRITE;
/*!40000 ALTER TABLE `internships_internshipcategory` DISABLE KEYS */;
/*!40000 ALTER TABLE `internships_internshipcategory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `interviews_interview`
--

DROP TABLE IF EXISTS `interviews_interview`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `interviews_interview` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `interview_type` varchar(20) NOT NULL,
  `mode` varchar(20) NOT NULL,
  `scheduled_at` datetime(6) NOT NULL,
  `duration_minutes` int(10) unsigned NOT NULL CHECK (`duration_minutes` >= 0),
  `meeting_link` varchar(200) NOT NULL,
  `location` varchar(255) NOT NULL,
  `interviewer_name` varchar(255) NOT NULL,
  `outcome` varchar(20) NOT NULL,
  `notes` longtext NOT NULL,
  `score` int(10) unsigned DEFAULT NULL CHECK (`score` >= 0),
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `application_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `interviews_interview_application_id_970abaf2_fk_applicati` (`application_id`),
  CONSTRAINT `interviews_interview_application_id_970abaf2_fk_applicati` FOREIGN KEY (`application_id`) REFERENCES `applications_application` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `interviews_interview`
--

LOCK TABLES `interviews_interview` WRITE;
/*!40000 ALTER TABLE `interviews_interview` DISABLE KEYS */;
/*!40000 ALTER TABLE `interviews_interview` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications_notification`
--

DROP TABLE IF EXISTS `notifications_notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications_notification` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `notification_type` varchar(20) NOT NULL,
  `title` varchar(255) NOT NULL,
  `message` longtext NOT NULL,
  `priority` varchar(10) NOT NULL,
  `link` varchar(500) NOT NULL,
  `is_read` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `read_at` datetime(6) DEFAULT NULL,
  `recipient_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `notifications_notifi_recipient_id_d055f3f0_fk_accounts_` (`recipient_id`),
  CONSTRAINT `notifications_notifi_recipient_id_d055f3f0_fk_accounts_` FOREIGN KEY (`recipient_id`) REFERENCES `accounts_customuser` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications_notification`
--

LOCK TABLES `notifications_notification` WRITE;
/*!40000 ALTER TABLE `notifications_notification` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications_notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reports_evaluation`
--

DROP TABLE IF EXISTS `reports_evaluation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reports_evaluation` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `technical_score` int(10) unsigned NOT NULL CHECK (`technical_score` >= 0),
  `communication_score` int(10) unsigned NOT NULL CHECK (`communication_score` >= 0),
  `professionalism_score` int(10) unsigned NOT NULL CHECK (`professionalism_score` >= 0),
  `attendance_score` int(10) unsigned NOT NULL CHECK (`attendance_score` >= 0),
  `overall_score` int(10) unsigned NOT NULL CHECK (`overall_score` >= 0),
  `comments` longtext NOT NULL,
  `recommendation` longtext NOT NULL,
  `is_final` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `internship_id` bigint(20) NOT NULL,
  `student_id` bigint(20) NOT NULL,
  `supervisor_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `reports_evaluation_internship_id_5747bc13_fk_internshi` (`internship_id`),
  KEY `reports_evaluation_student_id_861f0d10_fk_accounts_` (`student_id`),
  KEY `reports_evaluation_supervisor_id_e6a81ad5_fk_accounts_` (`supervisor_id`),
  CONSTRAINT `reports_evaluation_internship_id_5747bc13_fk_internshi` FOREIGN KEY (`internship_id`) REFERENCES `internships_internship` (`id`),
  CONSTRAINT `reports_evaluation_student_id_861f0d10_fk_accounts_` FOREIGN KEY (`student_id`) REFERENCES `accounts_studentprofile` (`user_id`),
  CONSTRAINT `reports_evaluation_supervisor_id_e6a81ad5_fk_accounts_` FOREIGN KEY (`supervisor_id`) REFERENCES `accounts_supervisorprofile` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reports_evaluation`
--

LOCK TABLES `reports_evaluation` WRITE;
/*!40000 ALTER TABLE `reports_evaluation` DISABLE KEYS */;
/*!40000 ALTER TABLE `reports_evaluation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reports_weeklyreport`
--

DROP TABLE IF EXISTS `reports_weeklyreport`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reports_weeklyreport` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `week_number` int(10) unsigned NOT NULL CHECK (`week_number` >= 0),
  `title` varchar(255) NOT NULL,
  `activities` longtext NOT NULL,
  `challenges` longtext NOT NULL,
  `next_week_plan` longtext NOT NULL,
  `hours_worked` decimal(5,1) NOT NULL,
  `status` varchar(20) NOT NULL,
  `feedback` longtext NOT NULL,
  `score` int(10) unsigned DEFAULT NULL CHECK (`score` >= 0),
  `submitted_at` datetime(6) DEFAULT NULL,
  `reviewed_at` datetime(6) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `internship_id` bigint(20) NOT NULL,
  `student_id` bigint(20) NOT NULL,
  `supervisor_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `reports_weeklyreport_student_id_internship_id_2452fb1e_uniq` (`student_id`,`internship_id`,`week_number`),
  KEY `reports_weeklyreport_internship_id_d51e9122_fk_internshi` (`internship_id`),
  KEY `reports_weeklyreport_supervisor_id_1761beda_fk_accounts_` (`supervisor_id`),
  CONSTRAINT `reports_weeklyreport_internship_id_d51e9122_fk_internshi` FOREIGN KEY (`internship_id`) REFERENCES `internships_internship` (`id`),
  CONSTRAINT `reports_weeklyreport_student_id_e20e3672_fk_accounts_` FOREIGN KEY (`student_id`) REFERENCES `accounts_studentprofile` (`user_id`),
  CONSTRAINT `reports_weeklyreport_supervisor_id_1761beda_fk_accounts_` FOREIGN KEY (`supervisor_id`) REFERENCES `accounts_supervisorprofile` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reports_weeklyreport`
--

LOCK TABLES `reports_weeklyreport` WRITE;
/*!40000 ALTER TABLE `reports_weeklyreport` DISABLE KEYS */;
/*!40000 ALTER TABLE `reports_weeklyreport` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-21 20:39:02
