{% extends 'base.html' %}
{% load static %}
{% block title %}My Applications{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}
{% block content %}
{% include 'components/sidebar.html' %}
<div class="main-content">
    <div class="top-navbar"><h4 class="page-title">My Applications</h4></div>
    
    <div class="table-wrapper mt-4">
        <div class="table-toolbar">
            <h5>Applications Status</h5>
        </div>
        <table class="table-dark-custom">
            <thead>
                <tr>
                    <th>Internship</th>
                    <th>Company</th>
                    <th>Date Applied</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Backend Developer Intern</td>
                    <td>Google LLC</td>
                    <td>Jul 10, 2026</td>
                    <td><span class="badge-status badge-reviewing">Under Review</span></td>
                    <td><a href="{% url 'students:application_detail' pk=1 %}" class="btn-primary-custom" style="padding:0.25rem 0.5rem; font-size:var(--fs-xs);">View Detail</a></td>
                </tr>
                <tr>
                    <td>Frontend Developer Intern</td>
                    <td>Microsoft Corp</td>
                    <td>Jul 08, 2026</td>
                    <td><span class="badge-status badge-accepted">Offer Extended</span></td>
                    <td><a href="{% url 'students:application_detail' pk=2 %}" class="btn-primary-custom" style="padding:0.25rem 0.5rem; font-size:var(--fs-xs);">View Detail</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
