{% extends 'base.html' %}
{% load static %}
{% block title %}Notifications{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}
{% block content %}
{% include 'components/sidebar.html' %}
<div class="main-content">
    <div class="top-navbar"><h4 class="page-title">Notifications</h4></div>
    <div class="card mt-4"><div class="card-body">
        <h5>Notifications Center</h5>
        <p>No new notifications at this time.</p>
    </div></div>
</div>
{% endblock %}
